<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elisa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <nav>
    <div style="display: flex; align-items: center; margin-left: 8px;">Elisa</div>
    <ul>
      <li><a href="{{ url_for('status') }}">Domov</a></li>
      <li><a href="{{ url_for('team') }}">Tím</a></li>
      <li><a href="{{ url_for('meetings') }}">Stretnutia</a></li>
    </ul>
  </nav>
  <main>
    <h1>Zápisnice</h1>
    
    <div class="pdf-list" id="pdf-list"></div>
  </main>
  <script>
    
    const pdfFiles = [
      { name: "1.Zápisnica - 02.10.2024", path: "{{ url_for('static', filename='meetings/1.Zápisnica tímoveho stretnutia.pdf') }}" },
      { name: "2.Zápisnica - 09.10.2024", path: "{{ url_for('static', filename='meetings/2.Zápisnica tímoveho stretnutia.pdf') }}" },
      { name: "3.Zápisnica - 16.10.2024", path: "{{ url_for('static', filename='meetings/3.Zápisnica tímoveho stretnutia.pdf') }}" },
      { name: "4.Zápisnica - 23.10.2024", path: "{{ url_for('static', filename='meetings/4.Zápisnica tímoveho stretnutia.pdf') }}" },
      { name: "5.Zápisnica - 30.10.2024", path: "{{ url_for('static', filename='meetings/5.Zápisnica tímového stretnutia.pdf') }}" }, 
      
    ];
    const pdfList = document.getElementById('pdf-list');

    pdfFiles.forEach(file => {
      const listItem = document.createElement('div');
      listItem.innerHTML = `<a href="${file.path}" download>${file.name}</a>`;
      pdfList.appendChild(listItem);
    });
  </script>
</body>
</html>