<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elisa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <nav>
    <div style="display: flex; align-items: center; margin-left: 8px;">Elisa</div>
    <ul>
      <li><a href="{{ url_for('status') }}">Domov</a></li>
      <li><a href="{{ url_for('team') }}">Tím</a></li>
      <li><a href="{{ url_for('meetings') }}">Stretnutia</a></li>
    </ul>
  </nav>
  <main>
    <h1>Náš tím</h1>
    <p>Náš kolektív pozostáva z absolventov bakalárskeho štúdia aplikovanej informatiky FEI STU, konkrétne z odvetví bezpečnosti informačných systémov a modelovania a simulácie udalostných systémov.</p>

    <div class="team" id="team"></div>
  </main>

  <script>

    const team = [
      { 
        name: "Radovan Križanovský", 
        picture: "{{ url_for('static', filename='images/rado.jpg') }}", 
        description: "backend/frontend/ fullstack/devops/favorite language/HW/SW" 
      },
      { 
        name: "Tomáš Starovič", 
        picture: "{{ url_for('static', filename='images/staro.jpg') }}", 
        description: "backend/frontend/ fullstack/devops/favorite language/HW/SW" 
      },
      { 
        name: "Rudolf Bezák", 
        picture: "{{ url_for('static', filename='images/rudo.jpg') }}", 
        description: "backend/frontend/ fullstack/devops/favorite language/HW/SW" 
      },
      { 
        name: "Artur Andriichenko", 
        picture: "{{ url_for('static', filename='images/artur.png') }}", 
        description: "backend/frontend/ fullstack/devops/favorite language/HW/SW" 
      },
      { 
        name: "Andrej Király", 
        picture: "{{ url_for('static', filename='images/andrej.png') }}", 
        description: "backend/frontend/ fullstack/devops/favorite language/HW/SW" 
      },
    ];

    const teamContainer = document.getElementById('team');

    team.forEach(member => {
      const memberDiv = document.createElement('div');
      memberDiv.classList.add('team-member');

      memberDiv.innerHTML = `
        <img src="${member.picture}" alt="${member.name}" class="team-picture">
        <h2>${member.name}</h2>
        <p class="team-desc">${member.description}</p>
      `;

      teamContainer.appendChild(memberDiv);
    });
  </script>
</body>
</html>
